[submodule "LargestRectangleHistogram"]
	path = LargestRectangleHistogram
	url = http://github.com/SaffatHasan/LargestRectangleHistogram
[submodule "KthOrderStatistic"]
	path = KthOrderStatistic
	url = http://github.com/SaffatHasan/KthOrderStatistic
[submodule "LongestCommonSubsequence"]
	path = LongestCommonSubsequence
	url = http://github.com/SaffatHasan/LongestCommonSubsequence
[submodule "WildcardPatternMatching"]
	path = WildcardPatternMatching
	url = http://github.com/SaffatHasan/WildcardPatternMatching
