[submodule "LargestRectangleHistogram"]
	path = LargestRectangleHistogram
	url = http://github.com/SaffatHasan/LargestRectangleHistogram
	branch = main
[submodule "KthOrderStatistic"]
	path = KthOrderStatistic
	url = http://github.com/SaffatHasan/KthOrderStatistic
	branch = main
[submodule "LongestCommonSubsequence"]
	path = LongestCommonSubsequence
	url = http://github.com/SaffatHasan/LongestCommonSubsequence
	branch = main
[submodule "WildcardPatternMatching"]
	path = WildcardPatternMatching
	url = http://github.com/SaffatHasan/WildcardPatternMatching
	branch = main
